<!-- Scenario A -->
<!-- You have an input tag and would like to make sure that the username field can only take a maximum of 15 characters. What would be the best way to implement this only using HTML. -->

<!-- Solution A -->
<input type="text" id="username" name="username" maxlength="15" />

<!-- Resources -->
<!-- https://www.w3schools.com/tags/att_input_maxlength.asp -->
<!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/maxlength -->

<!-- Scenario B -->
<!-- You have an image and the picture you’re trying to show is only available online and your website displays a broken image with no information. You would like to display an alternative text instead when the image is not available. What can you use to achieve this output? -->

<!-- Solution B -->
<img src="my-image" alt="This is my image." width="500" height="600" />

<!-- Resources -->
<!-- https://www.w3schools.com/tags/att_img_alt.asp -->
<!-- https://developer.mozilla.org/en-US/docs/Web/API/HTMLImageElement/alt -->

<!-- Scenario C -->
<!-- You have a website that you would like to display certain text as code so it’s easily readable by your users. What can you use to display code not as plain text but something similar to code written in a text editor? -->

<!-- Solution C -->
<p>The HTML <code>button</code> tag defines a clickable button.</p>

<!-- Resources -->
<!-- https://www.w3schools.com/tags/tag_code.asp -->
<!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/code -->

<!-- Scenario D -->
<!-- You would like to have a self auto-scrolling image in your application to display multiple pictures in your website. A friend mentioned that you could use a CSS framework to get the job done. What could you use to quickly implement this in a matter of minutes? -->

<!-- Solution D -->
<div
  id="carouselExampleInterval"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="..." class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="..." class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="..." />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleInterval"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleInterval"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- Resources -->
<!-- https://getbootstrap.com/docs/5.1/components/carousel/ -->
<!-- https://www.w3schools.com/bootstrap5/bootstrap_carousel.php -->
