* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

nav {
  position: sticky;
  top: 0;
  padding: 1em 3em;
  background: white;
  z-index: 1000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  vertical-align: middle;
}

nav ul li,
nav ul div {
  display: inline;
}

.right-nav {
  float: right;
}

.nav {
  margin: 0 1em;
  font-weight: bold;
}

.tuitt-button {
  padding: 1em;
  color: white;
  border-radius: 25px;
  border: none;
  background: #c2195b;
  font-weight: bold;
}

#bg-image {
  background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
  background-position: center;
  height: 500px;
}

.front-bg {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.container {
  padding: 2em;
  position: absolute;
  width: 100%;
  height: 100%;
}

.title,
.title-2 {
  font-family: 'Zilla Slab', serif;
}

.title,
.subtitle {
  color: white;
  text-align: right;
}

.title {
  font-size: 3rem;
  width: 700px;
  position: absolute;
  right: 5rem;
}

.subtitle {
  font-weight: 300;
  position: absolute;
  top: 10rem;
  right: 5rem;
  width: 500px;
}

.apply-button {
  position: absolute;
  top: 21rem;
  right: 5rem;
  padding: 1em 4em;
  color: white;
  border-radius: 25px;
  border: none;
  background: #c2195b;
  font-weight: bold;
}

.intro {
  margin-top: 5em;
  margin-bottom: 5em;
}

.title-2 {
  font-weight: 600;
  text-align: center;
  margin-bottom: 3em;
}

.intro-description {
  width: 1000px;
  text-align: justify;
  margin: 0 auto;
}

.pre-footer {
  padding: 5em 0;
  background: #f7fbfb;
}

.pre-footer .title-2 {
  margin-bottom: 2em;
}

.prefooter-description {
  width: 1000px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 0.5em;
}

.book-button {
  background: #336589;
  padding: 1em 4em;
  color: white;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  display: block;
  margin: 0 auto;
}

footer {
  padding: 0.5em;
  text-align: center;
}

footer span {
  margin: 0 0.5em;
}
