#p-external {
  color: yellow;
}

* {
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
}

h1 {
  font-size: 3rem;
}

#h2 {
  text-transform: uppercase;
}

.language {
  background: green;
}

li[class='tool'] {
  border: 1px solid blue;
}

img + ul {
  list-style: none;
}

section img {
  width: 100px;
  border-radius: 50%;
}

h4 ~ p {
  text-align: center;
  color: black;
}

body > section > ul > li {
  letter-spacing: 0.5rem;
}
